<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer</title>
</head>
<body>
<h1>Customers</h1>
    {{#customers}}
       {{name}}
        {{phone}}
    {{/customers}}
</body>
</html>